html{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	font-family: 'Lora', serif;
}
a{
	font-size: 12px;
	text-decoration: none;
}
.pedido a{
   color: orange;
   background-color: white;
   border-radius: 2px;
}
.pedido a:hover{
	color: black;
}
.titulo h1{
	background: white;
	
	
	font-family: 'Courgette', cursive;
}
.titulo a{
	color: white;
	background: orange;
	border-radius: 2px;
	padding: 0 5px;
}

header{
	flex-direction: column;
	background-color: orange;
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px;
	box-shadow: 0px 9px 15px black;
 	
}
.menu a{
	padding: 3px 10px;
}
.container{
	height: auto;
	width: 100%;
	text-align: center;
	flex-direction: column;
	box-shadow: 0px 9px 6px grey;

}
#2 .container{
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container button{
	color: orange;
	background: white;
	border-radius: 2px;

}

#hero .container{

	align-items: center;
	justify-content: center;
	text-align: center;
	color: orange;
	height: 40vh;
	display: flex;
	background-image: url("img/fondo0.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
#pizzas .container{

	background-color: orange;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: initial;
	flex-direction: column;
}

#especialidad .container{
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Courgette', cursive;
color: white;
height: 30vh;
display: flex;
background-image: url("img/madera.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
#pedidos .container{
	height: auto;
	align-items: center;
	text-align: center;
	justify-content: center;
}
#pedidos a{
	font-size: 14px;
	color: white;
	background: #2FD676;
	border-radius: 15px;
	padding: 0px 5px;
	transition: .4s;
}
#pedidos a:hover{
	font-size: 30px;
}
#reparto .container{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .container{
	height: 10vh;
	background-color: orange;
}
i{

	height: 30px;
	font-size: 32px;
	padding: 0 4px;
}
.subir i{
	color: #2FD676;
	height: 70px;
	font-size: 70px;
	padding: 0 4px;
}
.subir {

	position: fixed;
	align-items: flex-end;
	z-index: 999;
	right: 20px;
	bottom: 20px;
}