html{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	font-family: 'Lora', serif;
}
a{
	text-decoration: none;
}
.pedido a{
   color: orange;
   background-color: white;
   border-radius: 2px;
}
.pedido a:hover{
	color: black;
}
.titulo h1{
	background: white;
	
	
	font-family: 'Courgette', cursive;
}
.titulo a{
	color: white;
	background: orange;
	border-radius: 2px;
	padding: 0 5px;
}

header{
	flex-direction: column;
	background-color: orange;
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px;

}
.container{
	height: auto;
	width: 100%;
	text-align: center;
	flex-direction: column;
}
#2 .container{
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero .container{

	align-items: center;
	justify-content: center;
	text-align: center;
	color: orange;
	height: 40vh;
	display: flex;
	background-image: url("img/fondo0.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
#pizzas .container{
	background-color: orange;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: initial;
	flex-direction: column;
}

#especialidad .container{
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Courgette', cursive;
color: white;
height: 30vh;
display: flex;
background-image: url("img/madera.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
#pedidos .container{
	height: 40vh;
}
footer .container{
	height: 10vh;
	background-color: orange;
}
i{
	height: 30px;
	font-size: 32px;
	padding: 0 4px;
}